@media only screen and (max-width:1920px) {

}
@media only screen and (max-width:784px) {

}
@media only screen and (max-width:414px) {

	.my-account {
		margin-top: 
		float: right;
		margin: 1.4em 0px;
	}

	* {
		margin: 
		margin-top: 
		box-sizing: border-box;
	}

	body a {
		margin-top: -px;
		transition: all 0.5s;
	}

	.my-account a {
		margin-top: 20px;
		color: rgb(0, 0, 0);
		margin-left: 10px;
	}

	.w3view-cart {
		margin-right: 20px;
		text-align: center;
	}

}
